@using TaskManager.Data.Models.Enums
@model TaskList

@{
    ViewData["Title"] = "Details";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 class="text-center mb-4">@Model.Name</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Description:</h5>
                    <p class="card-text">@Model.Description</p>
                </div>
            </div>
            <h3>Tasks:</h3>


            @if (Model.Tasks != null && Model.Tasks.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Due Date</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Tasks)
                        {
                            <tr>
                                <td width="20">@task.Name</td>
                                <td width="20">@task.Description</td>
                                
                                <td width="20" @*class="card-text "*@>
                                    @task.Status.ToString()

                                    @if (task.Status == Status.inProgress)
                                    {
                                        <a asp-controller="Task" asp-action="ChangeStatus" asp-route-id="@task.Id" asp-route-status="@Status.completed" class="btn btn-success ">Complete</a>

                                    }
                                    else if (task.Status == Status.completed)
                                    {
                                        <a asp-controller="Task" asp-action="ChangeStatus" asp-route-id="@task.Id" asp-route-status="@Status.inProgress" class="btn btn-warning ">Restart</a>
                                    }
                                </td>
                                <td width="20">@task.DueDate</td>
                                <td width="20" class="text-end">
                                    <a asp-controller="Task" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-secondary ">Edit</a>
                                    <a asp-controller="Task" asp-action="Delete" asp-route-id="@task.Id" class="btn btn-danger ">
                                        <i class="bi bi-trash3"></i>Delete</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>There are no tasks in this task list.</p>
            }
            <a asp-controller="TaskList" asp-action="AddTask" asp-route-id="@Model.Id" class="btn btn-primary mb-4">Add Task</a>

            <a asp-controller="TaskList" asp-action="Index" class="btn btn-secondary mb-4">Back to Task Lists</a>
        </div>
    </div>
</div>
